---
ports:
  # DNS listener port(s) and bind ip address(es)
  dns: 5353
  # DoT (DNS-over-TLS) listener port(s) and bind ip address(es)
  tls: 8053
  # HTTP (prometheus, pprof, REST API) listener port(s) and optional bind ip address(es)
  http: 8080
  # HTTPS (prometheus, pprof, REST API) listener port(s) and optional bind ip address(es)
  https: 8443

prometheus:
  enable: true
  path: /metrics

# Too many signature verification failure
# dnssec:
#   validate: true

upstreams:
  strategy: parallel_best
  groups:
    default:
      - https://cloudflare-dns.com/dns-query
      - https://dns.mullvad.net/dns-query
      - https://dnsforge.de/dns-query

bootstrapDns:
  - upstream: https://dns.mullvad.net/dns-query
    ips:
      - 194.242.2.2

blocking:
  denylists:
    ads:
      - adlist.txt
      # - https://raw.githubusercontent.com/yellowhat/hosts/main/adlist.txt

      # # From firebog.net
      # # - Suspicious Lists
      # - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
      # - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
      # - https://v.firebog.net/hosts/static/w3kbl.txt
      # - https://raw.githubusercontent.com/matomo-org/referrer-spam-blacklist/master/spammers.txt
      # - https://someonewhocares.org/hosts/zero/hosts
      # - https://raw.githubusercontent.com/RooneyMcNibNug/pihole-stuff/master/SNAFU.txt
      # # - Advertising Lists
      # - https://adaway.org/hosts.txt
      # - https://v.firebog.net/hosts/AdguardDNS.txt
      # - https://v.firebog.net/hosts/Admiral.txt
      # - https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
      # - https://v.firebog.net/hosts/Easylist.txt
      # - https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0&mimetype=plaintext
      # - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
      # - https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
      # # - Tracking & Telemetry Lists
      # - https://v.firebog.net/hosts/Easyprivacy.txt
      # - https://v.firebog.net/hosts/Prigent-Ads.txt
      # - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
      # - https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
      # - https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
      # # - Malicious Lists
      # - https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
      # - https://v.firebog.net/hosts/Prigent-Crypto.txt
      # - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
      # - https://phishing.army/download/phishing_army_blocklist_extended.txt
      # - https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
      # - https://v.firebog.net/hosts/RPiList-Malware.txt
      # - https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
      # - https://raw.githubusercontent.com/AssoEchap/stalkerware-indicators/master/generated/hosts
      # - https://urlhaus.abuse.ch/downloads/hostfile
      # - https://lists.cyberhost.uk/malware.txt
      # - https://malware-filter.gitlab.io/malware-filter/phishing-filter-hosts.txt
      # - https://v.firebog.net/hosts/Prigent-Malware.txt
      # - https://raw.githubusercontent.com/jarelllama/Scam-Blocklist/main/lists/wildcard_domains/scams.txt
      # - https://v.firebog.net/hosts/RPiList-Phishing.txt
      # # - Other Lists
      # - https://raw.githubusercontent.com/chadmayfield/my-pihole-blocklists/master/lists/pi_blocklist_porn_top1m.list
      # # - https://v.firebog.net/hosts/Prigent-Adult.txt  # Huge 4.5M
      # - https://raw.githubusercontent.com/anudeepND/blacklist/master/facebook.txt
      # # Others
      # - https://raw.githubusercontent.com/Perflyst/PiHoleBlocklist/refs/heads/master/SmartTV.txt
      # - https://badmojr.gitlab.io/1hosts/Pro/domains.txt
      # - https://gist.githubusercontent.com/eterps/9ddb13a118a21a7d9c12c6165e0bbff5/raw/0ba4b04802a4b478d7777fb7abe76c8eac0c5bfc/Samsung%2520Smart-TV%2520Blocklist%2520Adlist%2520(for%2520PiHole)
      # - https://gist.githubusercontent.com/wassname/b594c63222f9e4c83ea23c818440901b/raw/1b0afd2aecf3a099f1681b1cf18fc0e6e2fa116a/Samsung%2520Smart-TV%2520Blocklist%2520Adlist%2520(for%2520PiHole)
      # - https://raw.githubusercontent.com/MetaMask/eth-phishing-detect/master/src/hosts.txt
      # - https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-gambling-porn/hosts
      # - https://raw.githubusercontent.com/blocklistproject/Lists/master/ads.txt
      # - https://raw.githubusercontent.com/blocklistproject/Lists/master/basic.txt
      # - https://raw.githubusercontent.com/blocklistproject/Lists/master/malware.txt
      # - https://raw.githubusercontent.com/blocklistproject/Lists/master/phishing.txt
      # - https://raw.githubusercontent.com/blocklistproject/Lists/master/ransomware.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/CryptoWall-Ransomware-C2-Domain-blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/Locky-Ransomware-C2-Domain-Blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/Ransomware-Domain-Blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/TeslaCrypt-Ransomware-C2-Domain-Blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/TeslaCrypt-Ransomware-Payment-Sites-Domain-Blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/TorrentLocker-Ransomware-C2-Domain-Blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/TorrentLocker-Ransomware-Payment-Sites-Domain-Blocklist.txt
      # - https://raw.githubusercontent.com/deathbybandaid/piholeparser/master/Subscribable-Lists/ParsedBlacklists/WindowsSpyBlocker81.txt
      # - https://raw.githubusercontent.com/esc0rtd3w/firestick-loader/master/misc/hosts.adfree
      # - https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/crowed_list.txt
      # - https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt
      # - https://raw.githubusercontent.com/pirat28/IHateTracker/master/iHateTracker.txt
      # - https://raw.githubusercontent.com/r-a-y/mobile-hosts/master/AdguardMobileSpyware.txt
      # # Block Samsung TV
      # - |
      #   config.sbixby.com
      #   musicid.samsungcloud.tv
      #   empdownprd.samsungcloudsolution.com
      #   configprd.samsungcloudsolution.net
      #   time.samsungcloudsolution.com
      #   time.samsungcloudsolution.net
      #   cpu.samsungelectronics.com
      #   img-resize-cdn-prod.samsungnyc.com
      #   kpu.samsungelectronics.com
      #   gld.push.samsungosp.com
      #   osb-apps.samsungqbe.com
      #   osb-auth-eusvc.samsungqbe.com
      #   osb-tnc-v2-appsacc.samsungqbe.com
      #   osb-v1-alb.samsungqbe.com
      #   osb-v1-eusvc.samsungqbe.com
      #   osb-v1.samsungqbe.com
      #   samsungtifa.com
      #   crl.tivuon.tv
      #   selfsigned.ueiwsp.com
      # # Block others
      # - |
      #   msn.com
      #   www.msn.com
      #   secureclock.playready.microsoft.com
  allowlists:
    ads:
      - |
        nid.naver.com
        mail.naver.com
        i.instagram.com
      - |
        login.microsoftonline.com
        go.microsoft.com
      - |
        goethe.de
        *.goethe.de
      - |
        plausible.io
        *.plausible.io
      # Required for Samsung TV (Youtube)
      # - |
      #   time.samsungcloudsolution.com
  clientGroupsBlock:
    default:
      - ads
  loading:
    refreshPeriod: 24h
    downloads:
      attempts: 5
      timeout: 2m
      cooldown: 1s

customDNS:
  customTTL: 1h
  filterUnmappedTypes: true
  rewrite:
    home: local
    lan: local
  mapping:
    blocky.lan: 192.168.0.201
    blocky.local: 192.168.0.201

clientLookup:
  upstream: 192.168.0.1
  singleNameOrder:
    - 1

log:
  level: debug # info
  # format: json
  format: text
  privacy: false
  timestamp: true

queryLog:
  type: console
