---
name: Linter

on:  # yamllint disable-line rule:truthy
  workflow_call: # allow this workflow to be called from other workflows

env:
  PYTHON_VER: "3.12"

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2
        with:
          check_filenames: true
          skip: adlist.txt,allowlist.txt,blocklist.txt,raw

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: crate-ci/typos@07d900b8fa1097806b8adb6391b0d3e0ac2fdea7 # v1.39.0

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: pip install yamllint==1.37.0
      - run: yamllint --list-files .
      - run: yamllint --config-file .github/yamllint.yaml .

  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: docker://ghcr.io/gitleaks/gitleaks:v8.24.2
        with:
          args: detect --no-git --verbose --source /github/workspace/ --config /github/workspace/.github/gitleaks.toml

  secretlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: docker://ghcr.io/secretlint/secretlint:v8.5.0
        with:
          args: secretlint /github/workspace/**/*

  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: docker://docker.io/returntocorp/semgrep:1.116
        with:
          args: semgrep ci --config p/github-actions

  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: docker://ghcr.io/igorshubovych/markdownlint-cli:v0.44.0
        with:
          args: markdownlint "**/*.md"

  markdown-table-formatter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
      - run: npm install --global markdown-table-formatter@1.6.1
      - run: markdown-table-formatter --check "**/*.md"

  shellcheck:
    runs-on: ubuntu-latest
    container:
      image: docker.io/koalaman/shellcheck-alpine:v0.11.0
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: >
          find . -not -path "./.git/**" -type f -exec grep -Eq '^#!(.*/|.*env +)(sh|bash|ksh)' {} \;
          -exec echo {} + -exec shellcheck --external-sources {} +

  shfmt:
    runs-on: ubuntu-latest
    container:
      image: docker.io/mvdan/shfmt:v3.12.0-alpine
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: |
          shfmt --list .
          shfmt --indent 4 --case-indent --diff .

  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"
      - uses: psf/black@af0ba72a73598c76189d6dd1b21d8532255d5942 # 25.9.0
        with:
          options: "--check --diff"

  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"
      - run: pip install flake8==7.2.0
      - run: flake8 --count --statistics --verbose --ignore E501 .

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install ruff==0.11.2
      - run: ruff check --show-files .
      - run: ruff check --diff .

  pyflakes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install pyflakes==3.3.2
      - run: pyflakes .

  pyupgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install pyupgrade==3.19.1
      - run: find . -iname "*.py" | xargs pyupgrade

  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install pylint[spelling]==3.3.6
      - run: |
          pylint \
              --verbose \
              --disable C0301 \
              $(find . -name "*.py")

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install mypy==1.15.0
      - run: mypy --install-types --non-interactive --strict .

  vulture:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install vulture==2.14
      - run: vulture --min-confidence 65 .

  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ env.PYTHON_VER }}"
      - run: pip install bandit==1.8.3
      - run: bandit --recursive .
