---
name: Test

on:  # yamllint disable-line rule:truthy
  workflow_call: # allow this workflow to be called from other workflows

jobs:
  blocky:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: extractions/setup-just@v3
      - run: just test
