---
name: Test

on:  # yamllint disable-line rule:truthy
  workflow_call: # allow this workflow to be called from other workflows

jobs:
  blocky:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: extractions/setup-just@v3
      - run: just test
