---
name: Test

on:  # yamllint disable-line rule:truthy
  workflow_call: # allow this workflow to be called from other workflows

jobs:
  blocky:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: extractions/setup-just@v3
      - run: just test
